{% extends 'layouts.html' %}

{% block title %}Form Shop{% endblock %}
{% block style %}
<style>
   #big-text {
      font-size: 18px;
      color: #0c0c0d;
   }

   .table-data3 thead tr th {
      text-align: center;
   }

   .table-data3 thead tr th:last-child {
      text-align: center;
   }

   .table-data3 tbody tr td {
      text-align: center;
   }

   .table-data3 tbody tr td:last-child {
      text-align: center;
   }
</style>
{% endblock %}
{% block content %}
<div class="container-fluid">
   <div class="row justify-content-center">
      <div class="col-lg-6">
         <div class="card">
            <div class="card-header">Add Item</div>
            <div class="card-body">
               <div class="card-title">
                  <h3 class="text-center title-2">Shop</h3>
               </div>
               <hr>
               <form action="" method="post" autocomplete="off" id="post-form">
                  <div class="form-group">
                     <label class="control-label mb-1">Name</label>
                     <input name="name" type="text" id="name" class="form-control" placeholder="Toko #1">
                  </div>
                  <div>
                     <button id="pay-button" type="submit" class="btn btn-lg btn-primary btn-block">
                        <i class="fa fa-check fa-lg"></i>&nbsp;
                        <span id="payment-button-amount">Send . . .</span>
                     </button>
                  </div>
               </form>
            </div>
         </div>
      </div>
      <div class="col-lg-12">
         <div class="table-responsive">
            <table class="table table-borderless table-data3" id="shopList">
               <thead class="thead-dark">
                  <tr class="row">
                     <th class="col">name</th>
                     <th class="col">action</th>
                  </tr>
               </thead>
               <tbody id="action-delete">
                  <tr></tr>
                  {% for shop in shops %}
                  <tr id="rec-{{shop.username}}.{{shop.id}}" class="row">
                     <td id="big-text" class="col">{{ shop.name }}</td>
                     <td class="col">
                        <button class="btn btn-danger button-address"
                           data-id="{{shop.username}}.{{shop.id}}">Delete</button>
                     </td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
{% endblock %}

{% block javascript %}
<script>
   'use strict'
   const url = window.location.href
   const csrf = '{{csrf_token}}'

   document.getElementById('action-delete').addEventListener('click', function (e) {
      try {
         const target = e.target.attributes["data-id"].value

         Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
         }).then((result) => {
            if (result.value) {
               fetch(url, {
                     method: 'delete',
                     headers: {
                        'X-CSRFToken': csrf
                     },
                     body: JSON.stringify({
                        target: target
                     })
                  })
                  .then(result => {
                     if (result.ok) {
                        return result
                     } else {
                        throw new Error(result.statusText)
                     }
                  })
                  .then(result => {
                     document.getElementById(`rec-${target}`).remove()
                     Toast.fire({
                        icon: 'success',
                        title: 'Success'
                     })
                  })
                  .catch(err => {
                     console.log(err)
                  })
            }
         })
      } catch (err) {
         null
      }
   })

   document.getElementById('pay-button').addEventListener('click', function (e) {
      e.preventDefault()

      const formValue = document.getElementById('post-form')
      let formData = new FormData(formValue)

      validatePromise(formData)
         .then(result => {
            fetch(url, {
                  method: 'post',
                  headers: {
                     'X-CSRFToken': csrf
                  },
                  body: result
               })
               .then(result => {
                  if (result.ok) {
                     return result.json()
                  } else {
                     throw new Error(result.statusText)
                  }
               })
               .then(result => {
                  Toast.fire({
                     icon: 'success',
                     title: result.statusText
                  })
                  let table = document.getElementById('shopList')
                  let row = table.insertRow(-1)
                  let cell = row.insertCell(0)

                  let name = document.getElementById('name').value
                  let textButton = document.createTextNode('Delete')

                  let tdElement = document.createElement('td')
                  let buttonElement = document.createElement('button')

                  let tdAction = row.appendChild(tdElement)
                  let insertButton = tdAction.appendChild(buttonElement)
                  insertButton.setAttribute('class', 'btn btn-danger button-address')
                  insertButton.setAttribute('data-id', `${result.data.username}.${result.data.id}`)
                  insertButton.appendChild(textButton)


                  row.appendChild(tdElement)
                  row.setAttribute('id', `rec-${result.data.username}.${result.data.id}`)
                  row.setAttribute('class', 'row')
                  cell.appendChild(document.createTextNode(name))
                  cell.setAttribute('id', 'big-text')
                  cell.setAttribute('class', 'col')
                  tdAction.setAttribute('class', 'col')
                  formValue.reset()
               })
               .catch(err => {
                  Toast.fire({
                     icon: 'error',
                     title: err
                  });
               })
         }).catch(err => {
            Toast.fire({
               icon: 'error',
               title: err
            })
         })
   })
</script>
{% endblock %}