<!-- HEADER DESKTOP-->
<header class="header-desktop">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="header-wrap">
                <div class="form-header">
                    <div class="header-font">
                        <h1>E)Ter</h1>
                    </div>
                </div>
                <div class="header-button">
                    <div class="noti-wrap">
                        <div class="account-wrap">
                            <div class="account-item clearfix js-item-menu">
                                <div class="image">
                                    <img src="https://dev-cdn.imfast.io/images/icon/admin.png" alt="User" />
                                </div>
                                <div class="content">
                                    <a class="js-acc-btn" href="#" id="header-user"></a>
                                </div>
                                <div class="account-dropdown js-dropdown">
                                    <div class="info clearfix">
                                        <div class="image">
                                            <a href="#">
                                                <img src="https://dev-cdn.imfast.io/images/icon/admin.png" alt="User" />
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h5 class="name">
                                                <a href="#" id="dropdown-user"></a>
                                            </h5>
                                            <span class="email">{{ user.username }}</span>
                                        </div>
                                        <script>
                                            let headerUser = document.getElementById('header-user')
                                            let dropdownUser = document.getElementById('dropdown-user')
                                            let firstName = '{{ user.first_name }}'
                                            let lastName = '{{ user.last_name }}'

                                            if (firstName || lastName) {
                                                headerUser.innerText = firstName || lastName
                                                dropdownUser.innerText = firstName || lastName
                                            } else {
                                                headerUser.innerText = 'Guest'
                                                dropdownUser.innerText = 'Guest'
                                            }
                                        </script>
                                    </div>
                                    <div class="account-dropdown__body">
                                        <div class="account-dropdown__item">
                                            <a href="{% url 'setting' %}">
                                                <i class="zmdi zmdi-settings"></i>Setting</a>
                                        </div>
                                    </div>
                                    <div class="account-dropdown__footer" id="shutdown">
                                        <a href="#">
                                            <i class="zmdi zmdi-power"></i>Quit
                                        </a>
                                    </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</header>