{% extends '../layouts.html' %}

{% block title %}Show Collection{% endblock %}

{% block content %}
<style>
   #open-collection {
      background: none;
      text-decoration: none;
      border: none;
   }

   #download-collection {
      background: none;
      text-decoration: none;
      border: none;
   }

   #delete-collection {
      color: red;
      text-decoration: none;
   }
</style>
<div class="section__content section__content--p30">
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-12">
            <div class="top-campaign">
               <h3 class="title-3 m-b-30">Show Collections</h3>
               <div class="table-responsive">
                  <table class="table table-top-campaign">
                     <tbody>
                        {% if data %}
                           {% for obj in data %}
                        <tr id="collection-{{obj.id}}">
                           <td style="color: rgb(12, 12, 12); font-size: 20px;">{{ obj.title }}</td>
                           <td>
                              <!-- <a href="collections?id={% if x.filename is not None %}{{ x.id }}{% endif %}"> -->
                              <button class="btn btn-link" onclick="windowOpenNewTab({{obj.id}})" id="open-collection">
                                 Open&emsp;<i class="fas fa-external-link-alt"></i>
                              </button>
                              &emsp;
                              <!-- <a id='download-file{{x.id}}' href="#download_file">
                                 Download&emsp;<i class="fas fa-download" aria-hidden="true"></i> -->
                              <button class="btn btn-link" onclick="downloads({{obj.id}})" id="download-collection">
                                 Download&emsp;<i class="fas fa-download" aria-hidden="true"></i>
                              </button>&emsp;
                              <!-- <a id='confirm{{x.id}}' href="#delete" > -->
                              <button class="btn btn-link" onclick="tryDelete({{obj.id}}, '{{ obj.title }}')"
                                 id="delete-collection">
                                 Delete&emsp;<i class="fas fa-trash" aria-hidden="true"></i>
                              </button>
                           </td>
                        </tr>
                           {% endfor %}
                        {% else %}
                        <div class="text-center">Empty</div>
                        {% endif %}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}

{% block javascript %}
<script>
   'use strict'

   function windowOpenNewTab(value) {
      window.open('{% url "read-collection" %}?id=' + value)
      return
   }

   function execDownloads(id) {
      return new Promise(resolve => {
         let url = `{% url 'download-collection' %}?id=${id}`

         fetch(url, {
               mode: 'cors',
               method: 'post'
            })
            .then(response => response.json())
            .then(data => resolve({
               url: data.url,
               message: 'Download success.'
            }))

      })
   }

   function downloads(value) {
      let run = execDownloads(value)

      run.then(exeResult => {
         window.location.href = exeResult.url

         Toast.fire({
               icon: 'success',
               title: exeResult.message
            })
            .then(result => {
               result.isDismissed ? console.log(exeResult.message) : console.log(exeResult.message)
            })
      })
   }

   function execDelete(value, id) {
      return new Promise((resolve, reject) => {
         if (value === true) {
            let url = `{% url 'show-collection' %}?id=${id}`
            let header = new Headers()
            header.append('X-CSRFToken', '{{csrf_token}}')

            fetch(url, {
                  method: 'delete',
                  headers: header
               })
               .then(response => resolve(response))
               .catch(err => reject(err))
         }
      })
   }

   function tryDelete(id, title) {
      Swal.fire({
         title: 'Are you sure?',
         text: "You won't be able to revert this!",
         showCancelButton: true,
         confirmButtonColor: '#3085d6',
         cancelButtonColor: '#d33',
         confirmButtonText: 'Yes, delete it!'
      }).then(action => {
         if (action.value) {
            execDelete(action.isConfirmed, id)
               .then(result => {
                  if (result.ok) {
                     return result
                  }
                  throw result.statusText
               })
               .then(result => {
                  document.querySelector(`#collection-${id}`).remove()
                  Toast.fire({
                     icon: 'success',
                     title: `Delete ${title} collection.`
                  })
               })
               .catch(err => {
                  Toast.fire({
                     icon: 'error',
                     title: err
                  })
               })
         } else {
            Toast.fire({
               icon: 'error',
               title: `Canceled`
            })
         }
      })

   }
</script>
{% endblock %}