<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Login</title>
    <!-- Fontfaces CSS-->
    <link rel="icon" type="image/x-icon" class="js-site-favicon" href="https://dev-cdn.imfast.io/logo-mini.png">
    <link href="https://dev-cdn.imfast.io/css/font-face.css" rel="stylesheet" media="all">
    <link href="https://dev-cdn.imfast.io/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet"
        media="all">
    <!-- Bootstrap CSS-->
    <link href="https://dev-cdn.imfast.io/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
    <!-- Vendor CSS-->
    <link href="https://dev-cdn.imfast.io/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <!-- Main CSS-->
    <link href="//db.onlinewebfonts.com/c/39a2c7f346d5cfae7045aeb2fb50d9ad?family=LuloCleanW01-OneBold" rel="stylesheet" type="text/css"/> 
    <link href="https://dev-cdn.imfast.io/css/theme.css" rel="stylesheet" media="all">
    <style>
        @import url(//db.onlinewebfonts.com/c/39a2c7f346d5cfae7045aeb2fb50d9ad?family=LuloCleanW01-OneBold);
        
        @font-face {font-family: "LuloCleanW01-OneBold"; src: url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.eot"); src: url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.woff") format("woff"), url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.svg#LuloCleanW01-OneBold") format("svg"); } 

        .change-font {
            font-family: "LuloCleanW01-OneBold";
        }
    </style>

</head>

<body class="animsition">
    <div class="page-wrapper">
        <div class="page-content--bge5">
            <div class="container">
                <div style="" class="login-wrap align-items-center">
                    <div class="login-content">
                        <div class="login-logo">
                            <h1 id="app-name">
                                <!-- <img src="https://dev-cdn.imfast.io/eter.png" alt=""> -->
                                <div style="font-size: 72px;" class="change-font">E)Ter</div>
                            </h1>
                        </div>
                        <div class="login-form">
                            <form action="" method="post" autocomplete="off" id="post-form">
                                <div class="form-group">
                                    {% csrf_token %}
                                </div>
                                <div class="form-group">
                                    <label>Username</label>
                                    <input class="au-input au-input--full" type="text" name="username"
                                        placeholder="Username">
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input class="au-input au-input--full" type="password" name="password"
                                        placeholder="Password">
                                </div>

                                <button class="au-btn au-btn--block au-btn--blue m-b-20" type="submit"
                                    id="submit">signin</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="https://dev-cdn.imfast.io/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="https://dev-cdn.imfast.io/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="https://dev-cdn.imfast.io/vendor/animsition/animsition.min.js"></script>
    <!-- Main JS-->
    <script src="https://dev-cdn.imfast.io/js/main.js"></script>
</body>

</html>
<!-- end document-->